<launch>
    
    <!-- Lanzar el nodo turtlesim_node del paquete turtlesim -->
    <node pkg="turtlesim" type="turtlesim_node" name="turtlesim_node" output="screen"/>

    <!-- Lanzar el script teleop.py del paquete Practicas_lab -->
    <node pkg="practicas_lab" type="figuras.py" name="figuras_node" output="screen"/>
</launch>
